<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Details</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: cursive;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #every {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto; /* Centers the content vertically */
        width: 400px;
    }

    img {
        margin-top: -170px;
    }

    #greetings {
        display: flex;
        font-size: 20px;
        font-family: cursive;
        margin: 20px 0px 50px 0px;
    }

    #myDetails {
        display: block;
        height: auto;
        background: rgb(200, 209, 217);
        padding: 40px;
        border-radius: 8px;
    }

    button:hover {
        background-color: green;
        color: white;
    }

    #myDetails h2 {
        margin-bottom: 10px;
    }

    #detBut {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    #detBut button {
        font-size: 15px;
    }

    #myDetails button {
        padding: 7px;
        border: none;
        border-radius: 10px;
        width: 70px;
    }
</style>
<body>

    <script>
        var state = "<%= state %>";
    </script>

    <div id="every">
        <img src="/img/logo.png" alt="not found">
        <p id="greetings"></p>
    
        <div id="myDetails" style="display: <%= found ? 'block' : 'none' %>;">
            <h2>Are these your details?</h2>
            <p>Name: <%= details.name %></p>
            <p>Desk: <%= details.desk %></p>
            <p>Phone Number: <%= details.phoneNo %></p>
            
            <div id="detBut">
                <a href="/message_to_you" id="yesBut">
                    <button>Yeah</button>
                </a>
                <a href="/recheck_details" id="noBut">
                    <button>No</button>
                </a>
            </div>
        </div>
    </div>

    <script>
        var hourNow = new Date().getHours();
    
        const greetings = document.getElementById('greetings');

        if(hourNow >= 0 && hourNow < 12) {
            greetings.innerHTML = "Good Morning...";
        } else if(hourNow >= 12 && hourNow < 16) {
            greetings.innerHTML = "Good Afternoon...";
        } else {
            greetings.innerHTML = "Good evening...";
        }

        
    </script>

</body>
</html>
